*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;

}
#main-1{
    background:url("http://espiral21.com/wp-content/uploads/2016/08/meridianews-cosco2-china-2016-e1470925202801.jpg")no-repeat center center ;
    display: table;
    height: 30%;
    position: relative;
    width: 100%;
    background-size: cover;
}