* {
    margin: 0;
    padding: 0;
}

.section {
    width: 100%;
    height: 1000px;
    overflow: hidden;
    text-align: center;
}
.img{
    margin-top: 300px;
}
.principal,.secundari,.tercer{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
h2{
    margin-top: 450px;
    font-size: 8rem;
    font-family: 'Arial', 'san-serif';
    color: white;
    text-transform: uppercase;
}
.principal{
    background-image: url("https://i.pinimg.com/originals/cd/d2/05/cdd20507c9924d88b7b3732d328388ca.gif  ");
}
.secundari{
    background-image: url("https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2016/04/11/103538098-GettyImages-56904526.1910x1000.jpg");
}
.tercer{
    background-image: url("https://media.wired.com/photos/592694bcaf95806129f4fef1/master/pass/PortOfLA_HP_GettyImages-502542276.jpg");

}


